.shop-wrapper {
   // background-color: lightseagreen;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.mappedFlowers {
   background-color: rgb(247, 244, 244);
   margin: 15px 5px;
   padding: 15px;
   align-self: stretch;

   img {
      display: block;
      margin: auto;
      width:  200px;
      padding: 15px 0;
   }
   .btn {
      display: block;
      text-align: center;
   }

}