.about-wrapper {
   height: 80vh;
}

.est {
   h1 {
      color: rgb(222, 222, 222);
   }
   margin: 25px;
   background-image: url("../assets/bg/1.png");
   background-repeat: no-repeat;
   background-size: 400px;
   background-position: right;
   height: 500px;
}
