html,
body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

.global-wrapper {
   background-image: url("./components/assets/bg/4.png");
   background-repeat: no-repeat;
   background-position: top right;
   background-size: 400px;
}

.app-wrapper {
   margin: 0 auto;
   padding: 0;
   width: 80%;
   max-width: 1600px;
}

@media screen and (max-width: 1000px) {
   .app-wrapper {
      width: 90%;
   }
   .global-wrapper {
      background-image: none;
   }
}
